body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-fk-grotesk-neue-trial:/ "FK Grotesk Neue Trial";
  --font-helvetica: Helvetica;

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-5xl: 24px;
  --font-size-181xl: 200px;
  --font-size-mini: 15px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;

  /* Gaps */
  --gap-3xs: 10px;
  --gap-181xl: 200px;
  --gap-21xl: 40px;

  /* Paddings */
  --padding-4xl: 23px;
  --padding-6xl: 25px;
  --padding-28xl: 47px;
  --padding-7xs: 6px;
  --padding-54xl: 73px;
  --padding-17xl: 36px;
  --padding-41xl: 60px;
  --padding-34xl: 53px;
  --padding-4xs: 9px;
  --padding-93xl: 112px;
  --padding-3xs: 10px;
  --padding-418xl: 437px;
  --padding-sm: 14px;
  --padding-33xl: 52px;
  --padding-43xl: 62px;
  --padding-316xl: 335px;

  /* border radiuses */
  --br-2xs: 11px;
}
@font-face {
  font-family: 'FKLight';
  src: url('fonts/FKGroteskNeue-Light.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'FKReg';
  src: url('fonts/FKGroteskNeue-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}

body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-fk-grotesk-neue-trial: "FK Grotesk Neue Trial";
  --font-helvetica: Helvetica;
  --font-font-awesome-5-brands: "Font Awesome 5 Brands";

  /* font sizes */
  --font-size-xs: 12px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray: rgba(0, 0, 0, 0.7);

  /* Gaps */
  --gap-0: 0px;
  --gap-xs: 12px;
  --gap-41xl: 60px;
  --gap-21xl: 40px;
  --gap-xl: 20px;

  /* Paddings */
  --padding-21xl: 40px;
  --padding-41xl: 60px;
  --padding-11xl: 30px;
  --padding-3xs: 10px;
  --padding-xl: 20px;
  --padding-6xs: 7px;
}
