@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@font-face {
  font-family: 'FKLight';
  src: url('fonts/FKGroteskNeue-Light.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'FKReg';
  src: url('fonts/FKGroteskNeue-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}

.logo-icon {
  width: 149px;
  height: 27px;
  flex-shrink: 0;
  z-index: 1;
}
.contact,
.logo-icon {
  position: relative;
  font-family: 'FKLight';
}
.contact-wrapper,

.contact-wrapper {
  border-radius: var(--br-2xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  padding: var(--padding-7xs) var(--padding-4xs);
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 0;
}
.frame-child,

.header {
  flex-direction: row;
  padding: 50px 420px 20px 420px;
  align-items: baseline;
  justify-content: space-between;
  text-align: center;
  font-size: 150px;
  font-family: 'FKReg';
  
}
@media screen and (min-width: 768px) {
  .header {
    padding: 0px 500px 0px 500px;
  }
}

@media screen and (min-width: 992px) {
  .header {
    padding: 0px 500px 0px 500px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 0px 500px 0px 500px;
  }
}

.frame-parent {
  position: relative;
  display: inline-block;
}

.frame-child {
  max-width: 96%;
  max-height: 100%;
  object-fit: cover;
  opacity: 0;
  padding: 10px;
  position: relative;
}
.a-virtual-try-on-we-created-fo-parent.animate,
.frame-child.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.image-108-icon {
  position: relative;
  width: 570px;
  height: 814px;
  flex-shrink: 0;
  object-fit: cover;
}
.a-virtual-try-on {
  flex: 1;
  position: relative;
  line-height: 149%;
  font-weight: 300;
  transform: rotate(0.38deg);
  transform-origin: 0 0;
  font-family: 'FKLight';

}

.image-108-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 201px 0 0;
  align-items: center;
  justify-content: flex-start;
  gap: 190px;
  font-size: var(--font-size-5xl);
  margin-top: 150px;
}
@media screen and (max-width: 767px) {
  .image-108-parent {
    gap: 30px;
    margin-top: 50px;

  }
}

.a-virtual-try-on1 {
  flex: 1;
  position: relative;
  line-height: 149%;
  font-weight: 300;
  transform: rotate(0.38deg);
  transform-origin: 0 0;
  z-index: 1;
  margin-right: 200px;
  font-family: 'FKLight';

}
.image-106-icon {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 813px;
  object-fit: cover;
  z-index: 0;
}
.a-virtual-try-on-we-created-fo-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 0 var(--padding-4xs) var(--padding-93xl);
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  font-size: var(--font-size-5xl);
}
.logo-icon1 {
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 0;
  object-fit: cover;
}

.logo-wrapper {
  align-self: stretch;
  min-height: 200px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 150px 50px 150px 50px;
  box-sizing: border-box;
  align-items: flex-start;
}

@media only screen and (max-width: 768px) {
  .logo-wrapper {
    height: auto;
    padding: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 122%;
  }

  .logo-wrapper > * {
    width: 100%;
  }
}
.beyond-20221 {
  font-family: 'FKLight';

}
.w-icon {
  position: relative;
  width: 13.4px;
  height: 11.89px;
  flex-shrink: 0;
}
.beyond-2022-parent,
.website-by-parent {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.website-by-parent {
  padding: var(--padding-7xs);
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-family: 'FKLight';
}
.beyond-2022-parent {
  align-self: stretch;
  padding: var(--padding-6xl) var(--padding-28xl);
  justify-content: space-between;
  font-family: 'FKLight';
  font-size: 12px;
}
.nav-parent {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: 'FKLight';
}
@media only screen and (max-width: 767px) {
  .nav-parent {
    width: 122%;
    padding: 15px;
  }
}

.image-container {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.image-container div {
  transition: opacity 0.3s ease;

}
.image-container div:hover {
  opacity: 0.6;
}
.image-container.detail {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  margin-top: 100px;
}

.image-container.detail div {
  position: relative;
  transition: opacity 0.3s ease;

}
.iimage-container.detail div:hover {
  opacity: 0.6;
}

.text-container {
  text-align: left;
}

.text {
  margin-top: 10px;
  font-size: 12px;
  font-family: 'FKLight';
  color: #333;
}

/* Button CSS */
.dropbtn {
  background-color: #000000;
  color: white;
  padding: 12px 17px 12px 17px;
  font-size: 14px;
  border-radius: 15px;
  border: 1px solid #000;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 130px;
}

.dropdown {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  font-family: 'FKLight';
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
  color: #000000;
}

.snapchat {
  margin: 0;
}
.snapchat-lens,
.snapchat-lens1,
.snapchat-lens2 {
  position: initial;
  top: 1105px;
  left: 120px;
  display: inline-block;
  width: 210px;
  margin-left: 11px;
  color: #000;
}
.snapchat-lens1,
.snapchat-lens2 {
  left: 536.12px;
  width: 178.34px;
  height: 32.27px;
}
.snapchat-lens2 {
  top: 1103px;
  left: 947px;
}

@media only screen and (max-width: 768px) {
  .image-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
  }

  .image-container div {
    margin-bottom: 30px;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  /* Add your CSS rules here for mobile devices */
  body {
    overflow-x: hidden;
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .frame-child,
  .header.animate {
    animation: 1s ease 0s 1 normal forwards fade-in;
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .frame-child {
    flex-direction: row;
    gap: var(--gap-21xl);
  }
}
@media screen and (max-width: 960px) {
  .frame-child,
  .header.animate,
  .image-108-parent.animate {
    animation: 1s ease 0s 1 normal forwards fade-in;
    padding: 44px 0px 1px 10px;
    font-size: 70px;
    font-family: 'FKReg';

  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .frame-child {
    flex-direction: column;
    gap: var(--gap-21xl);
  }
  .a-virtual-try-on {
    flex: unset;
    text-align: center;
    width: 350px;
    padding: 46px 18px 0px 100px;
    font-size: 26px;
    line-height: 34px;
    font-family: 'FKLight';
  }
  .image-108-parent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .a-virtual-try-on1,
  .image-106-icon {
    padding: 18px 0px 61px 58px;
    text-align: center;
    width: 350px;
  }
  .a-virtual-try-on-we-created-fo-parent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 420px) {
  .a-virtual-try-on1,
  .image-106-icon {
    flex: unset;
    align-self: stretch;
  }
  .a-virtual-try-on-we-created-fo-parent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    font-family: 'FKLight';
  }
}

@media screen and (max-width: 1024px) {
  .shop {
  width: 80%;
  height: 150px;
  font-size: 120px;
  }
  }

@media screen and (max-width: 767px) {
  .shop {
  width: 100%;
  height: 120px;
  font-size: 70px;
  font-family: 'FKReg';
  }
  }
  .logo-icon {
    position: relative;
    width: 149px;
    height: 27px;
    flex-shrink: 0;
  }
  .contact {
    position: relative;
    font-size: var(--font-size-xs);
    font-family: 'FKReg';
    color: var(--color-black);
    text-align: left;
  }
  .button,
  .logo-parent,
  
  .nav {
    display: flex;
    flex-direction: row;
  }
  .button {
    cursor: pointer;
    border: 1px solid var(--color-gray);
    padding: 6px 9px;
    background-color: var(--color-white);
    border-radius: 11px;
    overflow: hidden;
    align-items: flex-start;
    justify-content: flex-end;
  }
  .logo-parent,
  .nav {
    align-items: center;
  }
  .logo-parent {
    flex: 1;
    justify-content: space-between;
    z-index: 0;
  }
  .nav {
    align-self: stretch;
    height: 107px;
    flex-shrink: 0;
    overflow: hidden;
    padding: 44px;
    box-sizing: border-box;
    justify-content: flex-start;
  }
  @media only screen and (max-width: 767px) {
    .nav {
      align-self: stretch;
    height: 50px;
    flex-shrink: 0;
    overflow: hidden;
    padding: 44px;
    box-sizing: border-box;
    justify-content: flex-start;
    }
  }
  .product-image-icon {
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  @media (max-width: 768px) {
    .product-image-icon {
      height: auto;
      width: 100%;
      max-height: none;
      max-width: none;
      object-fit: contain;
      overflow: initial;
    }
  }

  .product-name {
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    width: 464px;
  }
  .span {
    font-family: var(--font-fk-grotesk-neue-trial);
  }
  .a-virtual-try-on,
  .div {
    position: relative;
    display: inline-block;
  }
  .div {
    font-size: 20px;
    text-transform: uppercase;
    color: #989898;
    width: 464px;
    font-family: 'FKLight';
  }
 
  .frame-select {
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 92px;
    height: 30px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    padding: var(--padding-6xs) 16px 0;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .buy {
    position: relative;
    font-size: 12.37px;
    text-transform: uppercase;
    font-family: var(--font-fk-grotesk-neue-trial);
    color: var(--color-white);
    text-align: center;
  }
  .buy-wrapper {
    cursor: pointer;
    border: 0;
    padding: var(--padding-6xs) 45px;
    background-color: var(--color-black);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent {
    width: 464px;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-xl);
  }
  .frame-parent,
  .info,
  .shop {
    display: flex;
    justify-content: flex-start;
  }
  .info {
    flex: 1;
    height: 550px;
    flex-direction: column;
    padding: 0 150px 0 var(--padding-xl);
    box-sizing: border-box;
    align-items: flex-start;
    gap: var(--gap-xs);
    font-size: 20px;
  }
  .shop {
    align-self: stretch;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-41xl);
    margin-bottom: 150px;
  }
  
  .frame-child,
  .frame-inner,
  .frame-child:hover {
    mix-blend-mode: normal;
  }
  .frame-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 59px;
  }
  .frame-group,
  .other-products {
    align-self: stretch;
    display: flex;
    flex-direction: column;
  }
  .frame-group {
    align-items: center;
    justify-content: space-around;
    gap: 79px;
    flex-wrap: wrap;
  }

  .beyond-container-icon {
    align-self: stretch;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    height: auto;
  }
  .beyond-logo {
    align-self: stretch;
    height: 405px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .beyond-2022 {
    display: inline-block;
    width: 88px;
    height: 15px;
    flex-shrink: 0;
  }
  .beyond-2022,
  .w-icon,
  .website-by1 {
    position: relative;
  }
  .w-icon {
    width: 21.4px;
    height: 11.89px;
    flex-shrink: 0;
  }
  a.no-underline {
    text-decoration: none;
  }

  .website-by {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    gap: var(--gap-xs);
    font-family: var(--font-fk-grotesk-neue-trial);
  }
  .beyond-2022-parent {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 0;
  }
  .footer,
  .footer {
    align-self: stretch;
    height: 107px;
    flex-shrink: 0;
    overflow: hidden;
    flex-direction: row;
    padding: var(--padding-21xl) var(--padding-41xl);
    box-sizing: border-box;
    justify-content: center;
    font-size: var(--font-size-xs);
    font-family: var(--font-helvetica);
  }
  
  @media screen and (max-width: 1200px) {
    .frame-group {
      gap: var(--gap-41xl);
    }
    .beyond-logo {
      gap: var(--gap-0);
    }
  }
  @media screen and (max-width: 960px) {
    .info,
    .nav,
    .product-image-icon {
      padding-left: var(--padding-21xl);
      padding-right: var(--padding-21xl);
      box-sizing: border-box;
    }
    .info {
      flex-direction: column;
      padding-left: var(--padding-xl);
      padding-right: var(--padding-11xl);
    }
    .frame-container {
      gap: var(--gap-41xl);
    }
    .frame-group {
      gap: var(--gap-21xl);
    }
    .other-products {
      gap: var(--gap-0);
      padding-bottom: 0;
      box-sizing: border-box;
    }
    .beyond-logo {
      align-items: center;
      justify-content: flex-start;
    }
    
  }
  @media screen and (max-width: 420px) {
    .nav {
      box-sizing: border-box;
      padding: 10px;
    }
    .product-image-icon {
      padding-left: 0;
      padding-top: 0;
      padding-right: 0;
      box-sizing: border-box;
    }
    .buy-wrapper:hover {
      background-color: var(--color-gray);
    }
    .info {
      flex: unset;
      align-self: stretch;
    }
    .frame-container {
      padding-bottom: var(--padding-3xs);
      box-sizing: border-box;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .frame-group {
      gap: var(--gap-xl);
      padding-left: var(--padding-11xl);
      padding-right: var(--padding-11xl);
      box-sizing: border-box;
    }
    .other-products {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding-left: 0;
      padding-right: 0;
      box-sizing: border-box;
    }
    .beyond-container-icon,
    .beyond-logo {
      padding-top: 500px;
      box-sizing: border-box;
    }
    .beyond-logo {
      gap: var(--gap-0);
      padding-top: 0;
    }
    .beyond-2022-parent {
      flex: unset;
      align-self: stretch;
      padding: 10px 0px 14px 20px;
      width: 114%;
    }
    .footer {
      flex-direction: column;
      gap: var(--gap-0);
      align-items: flex-end;
      justify-content: space-between;
      padding-left: var(--padding-11xl);
      padding-top: 0;
      padding-right: var(--padding-11xl);
      box-sizing: border-box;
    }
  }
  .a-virtual-try-on-new {
    font-size: 12px;
    line-height: 1.5;
    color: #333;
    text-transform: initial;
   
  }
  .other-products-title {
    text-align: center;
    font-size: 30px;
    margin: 50px 0;
  }