.logo-icon {
  width: 149px;
  height: 27px;
  flex-shrink: 0;
  z-index: 1;
}
.contact,
.logo-icon {
  position: relative;
}
.contact-wrapper,
.nav {
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.contact-wrapper {
  border-radius: var(--br-2xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  padding: var(--padding-7xs) var(--padding-4xs);
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 0;
}
.nav {
  align-self: stretch;
  padding: var(--padding-sm) 52px;
  align-items: center;
  justify-content: space-between;
}
.shop {
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  width: 564px;
  height: 193px;
  flex-shrink: 0;
}
.header {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 10px 437px;
  align-items: baseline;
  justify-content: space-between;
  text-align: center;
  font-size: var(--font-size-181xl);
}
.image-109-icon {
  z-index: 2;
}
.image-109-icon,
.image-115-icon,
.image-116-icon {
  position: relative;
  width: 373.66px;
  height: 547.75px;
  flex-shrink: 0;
  object-fit: cover;
}
.image-115-icon {
  z-index: 1;
}
.image-116-icon {
  z-index: 0;
}
.image-109-parent {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 48px 117px;
  align-items: center;
  justify-content: space-between;
}
.a-virtual-try-on {
  position: relative;
  line-height: 149%;
  font-weight: 300;
  display: inline-block;
  width: 665.96px;
  flex-shrink: 0;
  transform: rotate(0.38deg);
  transform-origin: 0 0;
}
.a-virtual-try-on-we-created-fo-wrapper {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-43xl) var(--padding-316xl);
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: var(--font-size-5xl);
}
.image-108-icon {
  position: relative;
  width: 555px;
  height: 814px;
  flex-shrink: 0;
  object-fit: cover;
}
.image-108-wrapper {
  align-self: stretch;
  height: 814px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.a-virtual-try-on1 {
  flex: 1;
  position: relative;
  line-height: 149%;
  font-weight: 300;
  transform: rotate(0.38deg);
  transform-origin: 0 0;
  z-index: 1;
}
.image-106-icon {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 813px;
  object-fit: cover;
  z-index: 0;
}
.a-virtual-try-on-we-created-fo-parent {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 0 var(--padding-4xs) 112px;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-5xl);
}
.logo-icon1 {
  position: relative;
  width: 1336px;
  height: 243px;
  flex-shrink: 0;
  object-fit: cover;
}
.logo-wrapper {
  align-self: stretch;
  height: 405px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: var(--padding-54xl) var(--padding-17xl) 60px var(--padding-34xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: space-between;
}
.beyond-20221 {
  font-family: var(--font-fk-grotesk-neue-trial);
}
.w-icon {
  position: relative;
  width: 13.4px;
  height: 11.89px;
  flex-shrink: 0;
}
.beyond-2022-parent,
.website-by-parent {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.website-by-parent {
  padding: var(--padding-7xs);
  justify-content: flex-start;
  gap: 10px;
  font-family: var(--font-fk-grotesk-neue-trial);
}
.beyond-2022-parent {
  align-self: stretch;
  padding: 25px 47px;
  justify-content: space-between;
  font-family: var(--font-helvetica);
}
.nav-parent {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 23px 0 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 73px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-fk-grotesk-neue-trial);
}
@media screen and (max-width: 1200px) {
  .image-109-parent {
    flex-direction: row;
    gap: var(--gap-21xl);
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 960px) {
  .image-109-parent {
    flex-direction: column;
    gap: var(--gap-21xl);
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 420px) {
  .a-virtual-try-on1,
  .image-106-icon {
    flex: unset;
    align-self: stretch;
  }
  .a-virtual-try-on-we-created-fo-parent {
    flex-direction: column;
    gap: 200px;
    align-items: center;
    justify-content: center;
  }
}
