.shop-container {
  min-height: 100vh;
}
.shop-shop {
  width: 100%;
  height: 3915px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.shop-header {
  top: 162px;
  left: 53px;
  width: 100%;
  max-width: 1337px;
  height: 311px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}

.shop-frame1 {
  top: 0px;
  left: 0px;
  width: 1342px;
  display: flex;
  padding: 0 338px;
  position: absolute;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.shop-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 200px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: FK Grotesk Neue Trial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: -10px;
  text-decoration: none;
}
.shop-text02 {
  color: rgba(0, 0, 0, 1);
  width: 666px;
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Light;
  text-align: center;
  font-family: FK Grotesk Neue Trial;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.shop-nav {
  top: 28px;
  left: 53px;
  width: 1334px;
  height: 55px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.shop-group5 {
  top: 14px;
  left: 0px;
  width: 1334px;
  height: 27px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.shop-logo {
  top: 0px;
  left: 0px;
  width: 149px;
  height: 27px;
  position: absolute;
}
.shop-rectangle540 {
  top: 0px;
  left: 1269px;
  width: 65px;
  height: 27px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 11px;
}
.shop-text04 {
  top: 6px;
  left: 1278px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: FK Grotesk Neue Trial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-frame2 {
  top: 612px;
  left: 53px;
  width: 1334px;
  height: 584px;
  display: flex;
  padding: 0 71px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
}
.shop-image109 {
  width: 374px;
  height: 548px;
  position: relative;
  border-color: transparent;
  margin-right: 37px;
}
.shop-image115 {
  width: 374px;
  height: 548px;
  position: relative;
  border-color: transparent;
  margin-right: 37px;
}
.shop-image116 {
  width: 374px;
  height: 548px;
  position: relative;
  border-color: transparent;
}
.shop-text06 {
  top: 1196px;
  left: 120px;
  color: rgba(0, 0, 0, 1);
  width: 210px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: FK Grotesk Neue Trial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.shop-text11 {
  top: 1196px;
  left: 536.1165771484375px;
  color: rgba(0, 0, 0, 1);
  width: 178px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: FK Grotesk Neue Trial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.shop-text16 {
  top: 1196px;
  left: 941px;
  color: rgba(0, 0, 0, 1);
  width: 178px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: FK Grotesk Neue Trial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.shop-frame3 {
  top: 1336.745361328125px;
  left: 47px;
  width: 1340px;
  height: 308.380859375px;
  display: flex;
  padding: 62px 335px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.shop-text21 {
  color: rgba(0, 0, 0, 1);
  width: 666px;
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Light;
  text-align: center;
  font-family: FK Grotesk Neue Trial;
  font-weight: 300;
  line-height: 149.00000095367432%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.shop-frame4 {
  top: 1722px;
  left: 0px;
  width: 1440px;
  height: 814px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.shop-image108 {
  width: 555px;
  height: 814px;
  position: relative;
  border-color: transparent;
}
.shop-frame5 {
  top: 2397px;
  left: 0px;
  width: 1440px;
  height: 813px;
  display: flex;
  padding: 260px 51px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
}
.shop-text23 {
  color: rgba(0, 0, 0, 1);
  width: 498px;
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: FK Grotesk Neue Trial;
  font-weight: 300;
  line-height: 149.00000095367432%;
  font-stretch: normal;
  margin-right: 205px;
  margin-bottom: 0;
  text-decoration: none;
}
.shop-image106 {
  width: 628px;
  height: 813px;
  position: relative;
  border-color: transparent;
}
.shop-frame6 {
  top: 3309px;
  left: 0px;
  width: 1440px;
  height: 405px;
  position: absolute;
}
.shop-frame7 {
  top: 3794px;
  left: 0px;
  width: 1440px;
  height: 78px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.shop-w {
  top: 32px;
  left: 1374px;
  width: 13.396916389465332px;
  height: 11.888238906860352px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.shop-vector {
  top: 0px;
  left: 0px;
  width: 13px;
  height: 12px;
  position: absolute;
}
.shop-text25 {
  top: 31.445068359375px;
  left: 1301px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: FK Grotesk Neue Trial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.shop-text27 {
  top: 31.445068359375px;
  left: 53px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Helvetica;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
